Repository jakubmarchwiany/habits_app: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell . --quiet, prettier --write, eslint --fix, eslint

.lintstagedrc:

{
	"*{js,jsx,ts,tsx}": ["cspell . --quiet", "prettier --write", "eslint --fix", "eslint"],
	"*.json": ["prettier --write"]
}

refactor: update utils
  src/utils/compute.ts
  src/utils/fetches.ts
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

refactor: update store
  src/store/app/activity/activity.action.ts
  src/store/app/app.actions.ts
  src/store/app/app.slice.ts
  src/store/app/habit/habit.actions.ts
  src/store/app/habit/habit.reducers.ts
  src/store/app/habit/models/group_of_habits.type.ts
  src/store/dear/dear.slice.ts
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

refactor: update components
  src/components/layouts/App.tsx
  src/components/layouts/Navigator.tsx
  src/components/pages/dear_habits/DearHabitsPage.tsx
  src/components/pages/dear_habits/components/DearGroupOfHabits.tsx
  src/components/pages/dear_habits/components/habit_card/activities/DearActivities.tsx
  src/components/pages/groups_of_habits_manager/components/group_of_habits_card/GroupsOfHabitsManager.tsx
  src/components/pages/groups_of_habits_manager/components/group_of_habits_card/group_of_habits_item.type.ts
  src/components/pages/groups_of_habits_manager/components/prepareGroups.ts
  src/components/pages/habit_explorer/HabitExplorerPage.tsx
  src/components/pages/habit_explorer/components/HabitExplorer.tsx
  src/components/pages/habit_explorer/components/habit_explorer_card/activities/ActivitiesHabitExplorer.tsx
  src/components/pages/home/HabitsPage.tsx
  src/components/pages/home/components/GroupOfHabits.tsx
  src/components/pages/home/components/habit_card/activities/Activities.tsx
  src/components/pages/home/components/habit_card/top_bar/GoalRate.tsx
  src/components/pages/home/components/habit_card/top_bar/Menu.tsx
  src/components/pages/loading/LoadingPage.tsx
  src/components/pages/settings/SettingsPage.tsx
  src/components/pages/settings/components/ColorThemeSettings.tsx
  src/components/pages/welcome/WelcomePage.tsx
  src/components/pages/welcome/components/Login.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

refactor: update auto login function
  src/hooks/useIsLoggedState.ts
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

build: update build script
  bun.lockb
  package-lock.json
  package.json
Due: prettier --write

build: update scripts
  bun.lockb
  package.json
Due: prettier --write

refactor: back to old function getHabits
  src/components/pages/dear_habits/DearHabitsPage.tsx
  src/components/pages/home/HabitsPage.tsx
  src/hooks/useIsLoggedState.ts
  src/store/app/app.actions.ts
  src/store/app/app.slice.ts
  src/store/app/habit/habit.actions.ts
  src/store/dear/dear.slice.ts
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

ci: update lint-staged
  .husky/pre-commit
  .lintstagedrc
Due: none

fix: install cspell polish dictionary
  bun.lockb
  cspell.json
  package.json
Due: prettier --write

ci: update scripts
  package.json
Due: prettier --write

fix: habit rate was wrong for periodInDays > 1
  src/utils/compute.ts
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

style: rename folder
  src/components/main.tsx
  src/components/pages/dear_habits/components/habit_card/top_bar/DearTopBar.tsx
  src/components/pages/habit_explorer/components/habit_explorer_card/activities/ActivitiesHabitExplorer.tsx
  src/components/pages/habit_explorer/components/habit_explorer_card/top_bar/TopBarHabitExplorer.tsx
  src/components/pages/habits/HabitsPage.tsx
  src/components/pages/habits/components/GroupOfHabits.tsx
  src/components/pages/habits/components/Habit.tsx
  src/components/pages/habits/components/habit_card/activities/Activities.tsx
  src/components/pages/habits/components/habit_card/activities/activity.css
  src/components/pages/habits/components/habit_card/activities/confetti.ts
  src/components/pages/habits/components/habit_card/top_bar/Edit.tsx
  src/components/pages/habits/components/habit_card/top_bar/GoalRate.tsx
  src/components/pages/habits/components/habit_card/top_bar/Menu.tsx
  src/components/pages/habits/components/habit_card/top_bar/TopBar.tsx
  src/utils/compute.ts
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

fix: date of habit was not displayed on hover
  src/components/pages/dear_habits/components/habit_card/activities/dear_activity.css
Due: none

feat: change goalRate -> score (style, logic)
  src/components/pages/dear_habits/components/DearHabit.tsx
  src/components/pages/dear_habits/components/habit_card/top_bar/DearTopBar.tsx
  src/components/pages/habit_explorer/components/HabitExplorer.tsx
  src/components/pages/habit_explorer/components/habit_explorer_card/top_bar/TopBarHabitExplorer.tsx
  src/components/pages/habits/components/Habit.tsx
  src/components/pages/habits/components/habit_card/top_bar/GoalRate.tsx
  src/components/pages/habits/components/habit_card/top_bar/Score.tsx
  src/components/pages/habits/components/habit_card/top_bar/TopBar.tsx
  src/store/app/habit/models/habit.type.ts
  src/utils/compute.ts
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: update style (less green color)
  src/components/pages/dear_habits/components/DearGroupOfHabits.tsx
  src/components/pages/dear_habits/components/DearHabit.tsx
  src/components/pages/habit_explorer/components/HabitExplorer.tsx
  src/components/pages/habits/components/GroupOfHabits.tsx
  src/components/pages/habits/components/Habit.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

fix: fetch wrong range of days (habits)
  src/store/app/habit/habit.actions.ts
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

build: add deploy script using 'wrangler pages'
  package.json
Due: prettier --write

fix: wrong navigate after cancel update groups
  src/components/pages/groups_of_habits_manager/components/group_of_habits_card/GroupsOfHabitsManager.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

fix: habit is not removed locally after delete
  src/store/app/habit/habit.reducers.ts
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: add buttons (toggle habits, show all habits)
  src/components/layouts/Navigator.tsx
  src/components/layouts/buttons/ShowAllButton.tsx
  src/components/layouts/buttons/ToggleHabitsButton.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

refactor: move pages to src folder
  src/components/layouts/App.tsx
  src/components/main.tsx
  src/pages/create_habit/CreateHabitPage.tsx
  src/pages/create_habit/components/CreateHabit.tsx
  src/pages/dear_habits/DearHabitsPage.tsx
  src/pages/dear_habits/components/DearGroupOfHabits.tsx
  src/pages/dear_habits/components/DearHabit.tsx
  src/pages/dear_habits/components/habit_card/activities/DearActivities.tsx
  src/pages/dear_habits/components/habit_card/activities/dear_activity.css
  src/pages/dear_habits/components/habit_card/top_bar/DearTopBar.tsx
  src/pages/groups_of_habits_manager/GroupOfHabitsManagerPage.tsx
  src/pages/groups_of_habits_manager/components/group_of_habits_card/GroupController.tsx
  src/pages/groups_of_habits_manager/components/group_of_habits_card/GroupOfHabitsCard.tsx
  src/pages/groups_of_habits_manager/components/group_of_habits_card/GroupsOfHabitsManager.tsx
  src/pages/groups_of_habits_manager/components/group_of_habits_card/group_of_habits_item.type.ts
  src/pages/groups_of_habits_manager/components/group_of_habits_card/habit_card/HabitCard.tsx
  src/pages/groups_of_habits_manager/components/group_of_habits_card/habit_card/habit_card_item.type.ts
  src/pages/groups_of_habits_manager/components/prepareGroups.ts
  src/pages/habit_explorer/HabitExplorerPage.tsx
  src/pages/habit_explorer/components/HabitExplorer.tsx
  src/pages/habit_explorer/components/habit_explorer_card/DaysFromSlider.tsx
  src/pages/habit_explorer/components/habit_explorer_card/activities/ActivitiesHabitExplorer.tsx
  src/pages/habit_explorer/components/habit_explorer_card/top_bar/TopBarHabitExplorer.tsx
  src/pages/habits/HabitsPage.tsx
  src/pages/habits/components/GroupOfHabits.tsx
  src/pages/habits/components/Habit.tsx
  src/pages/habits/components/habit_card/activities/Activities.tsx
  src/pages/habits/components/habit_card/activities/activity.css
  src/pages/habits/components/habit_card/activities/confetti.ts
  src/pages/habits/components/habit_card/top_bar/Edit.tsx
  src/pages/habits/components/habit_card/top_bar/Menu.tsx
  src/pages/habits/components/habit_card/top_bar/Score.tsx
  src/pages/habits/components/habit_card/top_bar/TopBar.tsx
  src/pages/loading/LoadingPage.tsx
  src/pages/settings/SettingsPage.tsx
  src/pages/settings/components/ColorThemeSettings.tsx
  src/pages/welcome/WelcomePage.tsx
  src/pages/welcome/components/Login.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

refactor: move main.tsx to src folder
  src/main.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

refactor: move layout to src folder
  src/layouts/App.tsx
  src/layouts/ErrorPage.tsx
  src/layouts/Navigator.tsx
  src/layouts/NotFoundPage.tsx
  src/layouts/buttons/ShowAllButton.tsx
  src/layouts/buttons/ToggleHabitsButton.tsx
  src/main.tsx
  src/pages/dear_habits/DearHabitsPage.tsx
  src/pages/groups_of_habits_manager/components/group_of_habits_card/GroupsOfHabitsManager.tsx
  src/pages/habit_explorer/HabitExplorerPage.tsx
  src/pages/habit_explorer/components/HabitExplorer.tsx
  src/pages/habits/HabitsPage.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

build: add "fix" flag to eslint
  .lintstagedrc
Due: none

fix: wrong path to main.tsx
  index.html
Due: none

fix: move logout logic to separate file
  src/pages/settings/SettingsPage.tsx
  src/pages/settings/components/Logout.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

refactor: move group of habits manager to settings/pages
  src/main.tsx
  src/pages/settings/pages/groups_of_habits_manager/GroupOfHabitsManagerPage.tsx
  src/pages/settings/pages/groups_of_habits_manager/components/group_of_habits_card/GroupController.tsx
  src/pages/settings/pages/groups_of_habits_manager/components/group_of_habits_card/GroupOfHabitsCard.tsx
  src/pages/settings/pages/groups_of_habits_manager/components/group_of_habits_card/GroupsOfHabitsManager.tsx
  src/pages/settings/pages/groups_of_habits_manager/components/group_of_habits_card/group_of_habits_item.type.ts
  src/pages/settings/pages/groups_of_habits_manager/components/group_of_habits_card/habit_card/HabitCard.tsx
  src/pages/settings/pages/groups_of_habits_manager/components/group_of_habits_card/habit_card/habit_card_item.type.ts
  src/pages/settings/pages/groups_of_habits_manager/components/prepareGroups.ts
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: add link to previous page
  src/layouts/NotFoundPage.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: add eslint plugins
  .eslintrc.cjs
  bun.lockb
  package.json
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

refactor: create all page object (path,element)
  src/layouts/navigator/page.tsx
  src/main.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

refactor: move navigate buttons to navigate folder
  src/layouts/navigator/components/buttons/ShowAllButton.tsx
  src/layouts/navigator/components/buttons/ToggleHabitsButton.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: improve navigate menu style + logic
  cspell.json
  src/components/my/MyLinkButton.tsx
  src/components/my/MyListItem.tsx
  src/layouts/App.tsx
  src/layouts/Navigator.tsx
  src/layouts/navigator/Navigator.tsx
  src/layouts/navigator/components/NavigatorButton.tsx
  src/layouts/navigator/components/NavigatorMenu.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

fix: miss groups of habits manager page
  src/main.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

style: change background color
  src/layouts/navigator/Navigator.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

style: change react-toast position
  src/layouts/App.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: add error message, change style
  src/layouts/ErrorPage.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: crate basic edit habit page
  src/layouts/navigator/page.tsx
  src/main.tsx
  src/pages/settings/pages/habits_manager/HabitsManagerPage.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint
