Repository jakubmarchwiany/habits_app: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: add default border width to Divider
  src/assets/theme.ts
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: add interactive list (select habit to edit)
  src/pages/settings/pages/habits_manager/components/ListOfHabits.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: add link to Habits_Manager
  src/pages/settings/SettingsPage.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: add edit habit component + logic
  src/pages/settings/pages/habits_manager/components/EditHabit.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

refactor: change reference logic currentHabit -> currentHabitId
  src/pages/settings/pages/habits_manager/HabitsManagerPage.tsx
  src/pages/settings/pages/habits_manager/components/ListOfHabits.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: add delete habit logic
  src/pages/settings/pages/habits_manager/components/EditHabit.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: add eslint rule (jsx curly brace presence)
  .eslintrc.cjs
  src/layouts/App.tsx
  src/layouts/navigator/page.tsx
  src/pages/create_habit/components/CreateHabit.tsx
  src/pages/habit_explorer/HabitExplorerPage.tsx
  src/pages/loading/LoadingPage.tsx
  src/pages/settings/SettingsPage.tsx
  src/pages/settings/pages/groups_of_habits_manager/components/group_of_habits_card/GroupController.tsx
  src/pages/settings/pages/groups_of_habits_manager/components/group_of_habits_card/GroupOfHabitsCard.tsx
  src/pages/settings/pages/groups_of_habits_manager/components/group_of_habits_card/habit_card/HabitCard.tsx
  src/pages/settings/pages/habits_manager/HabitsManagerPage.tsx
  src/pages/welcome/WelcomePage.tsx
  src/pages/welcome/components/Login.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

build: update dependencies
  bun.lockb
  package.json
Due: prettier --write

refactor: code styling
  .lintstagedrc
  .prettierrc
  knip.jsonc
  package.json
  src/components/my/MyLinkButton.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: add basic new components
  src/layouts/navigator/page.tsx
  src/main.tsx
  src/pages/habitsv2/Habitsv2Page.tsx
  src/pages/habitsv2/components/Activitiesv2.tsx
  src/pages/habitsv2/components/GroupOfHabitsv2.tsx
  src/pages/habitsv2/components/Habitv2.tsx
  src/pages/habitsv2/components/activityv2.css
  src/pages/habitsv2/components/confettiv2.ts
  src/pages/habitsv2/components/habitsv2.css
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

build: add cache flag
  .gitignore
  .lintstagedrc
  bun.lockb
  package.json
Due: prettier --write

feat: add emoji selector
  bun.lockb
  package.json
  src/pages/create_habit/components/CreateHabit.tsx
  src/pages/create_habit/components/EmojiSelector.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: add emoji field to Habit
  src/store/app/habit/models/habit.type.ts
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

fix: wrong url navigation
  src/store/app/habit/habit.actions.ts
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: add conditional check when submitting form
  src/pages/create_habit/components/CreateHabit.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: add emoji field to update habit logic
  src/pages/create_habit/components/EmojiSelector.tsx
  src/pages/settings/pages/habits_manager/components/EditHabit.tsx
  src/store/app/habit/habit.actions.ts
  src/store/app/habit/habit.reducers.ts
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: add new design
  src/pages/habitsv2/components/Habitv2.tsx
  src/pages/habitsv2/components/activityv2.css
  src/pages/habitsv2/components/habitsv2.css
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: change habitv2 design with habit
  src/layouts/navigator/page.tsx
  src/main.tsx
  src/pages/dear_habits/components/habit_card/top_bar/DearTopBar.tsx
  src/pages/habit_explorer/components/habit_explorer_card/activities/ActivitiesHabitExplorer.tsx
  src/pages/habit_explorer/components/habit_explorer_card/top_bar/TopBarHabitExplorer.tsx
  src/pages/habits/components/Activities.tsx
  src/pages/habits/components/GroupOfHabits.tsx
  src/pages/habits/components/Habit.tsx
  src/pages/habits/components/HabitCard.tsx
  src/pages/habits/components/HabitInfo.tsx
  src/pages/habits/components/activity.css
  src/pages/habits/components/confetti.ts
  src/pages/habits/components/habit_card/activities/Activities.tsx
  src/pages/habits/components/habit_card/activities/confetti.ts
  src/pages/habits/components/habit_card/top_bar/Edit.tsx
  src/pages/habits/components/habit_card/top_bar/Menu.tsx
  src/pages/habits/components/habit_card/top_bar/Score.tsx
  src/pages/habits/components/habit_card/top_bar/TopBar.tsx
  src/pages/habits/components/habit_info.css
  src/pages/habitsv2/Habitsv2Page.tsx
  src/pages/habitsv2/components/GroupOfHabitsv2.tsx
  src/pages/habitsv2/components/Habitv2.tsx
  src/pages/habitsv2/components/activityv2.css
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

refactor: move habitCard components to separate folder
  src/components/habit_card/HabitInfo.tsx
  src/components/habit_card/confetti.ts
  src/components/habit_card/habit_info.css
  src/components/habit_card/user/Activities.tsx
  src/components/habit_card/user/activity.css
  src/pages/habit_explorer/components/habit_explorer_card/activities/ActivitiesHabitExplorer.tsx
  src/pages/habits/components/HabitCard.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: change design dear habit
  src/components/habit_card/dear/DearActivities.tsx
  src/components/habit_card/dear/dear_activity.css
  src/pages/dear_habits/components/DearGroupOfHabits.tsx
  src/pages/dear_habits/components/DearHabit.tsx
  src/pages/dear_habits/components/DearHabitCard.tsx
  src/pages/dear_habits/components/habit_card/top_bar/DearTopBar.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: change color blink animation
  src/components/habit_card/user/activity.css
  src/pages/habits/components/HabitCard.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

refactor: move toggleHabits and ShowAll buttons to habit/dear page
  src/layouts/navigator/Navigator.tsx
  src/pages/dear_habits/DearHabitsPage.tsx
  src/pages/habits/HabitsPage.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: change breakpoints to default
  src/assets/theme.ts
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: change style habit info
  src/components/habit_card/HabitInfo.tsx
  src/components/habit_card/habit_info.css
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

feat: change grid-template-columns
  src/components/habit_card/dear/dear_activity.css
  src/components/habit_card/user/activity.css
Due: none

refactor: sync activities and dearActivities styles
  src/components/habit_card/dear/dear_activity.css
Due: none

feat: add mobile compatibility (numbers of activities on screen)
  src/components/habit_card/dear/DearActivities.tsx
  src/components/habit_card/user/Activities.tsx
  src/hooks/useNDaysToShow.ts
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

refactor: change sx->right from 5% to 60px
  src/layouts/navigator/components/buttons/ShowAllButton.tsx
  src/layouts/navigator/components/buttons/ToggleHabitsButton.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

refactor: clean
  src/pages/dear_habits/components/DearGroupOfHabits.tsx
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

build: update bun to v1.0.21
  bun.lockb
Due: none

refactor: change deprecate AnyAction to UnknownAction
  src/store/index.ts
Due: cspell . --quiet, prettier --write, eslint --fix, eslint

refactor: clean
  cspell.json
  src/components/habit_card/dear/dear_activity.css
  src/components/habit_card/habit_info.css
  src/components/habit_card/user/activity.css
Due: prettier --write

build: revert mui version (bug)
  bun.lockb
  package.json
Due: prettier --write

Path conditions:
  cspell . --quiet: any of: *{js,jsx,ts,tsx}
  prettier --write: (any of: *{js,jsx,ts,tsx}) or (any of: *.json)
  eslint --fix: any of: *{js,jsx,ts,tsx}
  eslint: any of: *{js,jsx,ts,tsx}
